aside{
    top: 180px;
    position: absolute;
}

.advDiv {
    display: none;
}

.topAdvertisement{
    margin-bottom: 2px;
}

aside.left{
     left: 0;
}

aside.right{
    right:0px;
}
aside a{
    display: block;
    width: 130px;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    text-align: center;
    font:100 12px/18px "microsoft yahei"
}

.nowrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.advTopDiv {
    postition:relative;
}

.advTopDiv button {
    position: absolute;
    right:0px;
}
