/*视频播放*/
#forPlay h3{
    margin-bottom: 30px;
    font:100 24px/24px "microsoft yahei";
    color: #000;
    padding-left: 20px;
}
#forPlay #videoPlay{
    height: 500px;
    background-color: #000;
    position: relative;
}
#forPlay #videoPlay video{
    /*width: 500px;*/
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform:translate(-50%) ;
    -moz-transform:translate(-50%) ;
    -ms-transform:translate(-50%) ;
    -o-transform:translate(-50%) ;
}

/*视频收益*/
.videoHarvest{
    height: 40px;
    padding-right: 10px;
   font:100 14px/40px "microsoft yahei"
}
.gold{
    margin-left: 30px;
}
/*视频描述*/
#forPlay h4{
    padding-left: 20px;
    font:100 20px/24px "microsoft yahei";
    margin-bottom: 10px;
}
.describeArea{
    border-top:1px solid #e9e9e9;
    padding: 10px 20px;
    margin-bottom:40px;
}
/*评论区*/
.videoComment li{
    border-top:1px solid #e9e9e9;
    padding: 10px 20px;
    height:auto;
    margin-bottom: 5px;
}
.videoComment li:last-child{
    border-bottom:1px solid #e9e9e9;
}
.videoComment li .adminPic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}
.videoComment li .adminPic img{
    width: 100%;
    height: 100%;
}
.adminName,.adminComment{
    padding-left: 65px;
}
.adminName{
    font:600 16px/18px "microsoft yahei";
    color: #f8b4b9;
    margin-bottom: 10px;
}
.adminComment{
    font:100 14px/18px "microsoft yahei"
}

/*发表评论*/
.imComment{
    margin-top: 20px;
}
.imComment #myComment{
    width: 100%;
    height: 200px;
    padding:10px;
    border:1px solid #e9e9e9;
}
#upComment{
    float: right;
    width: 80px;
    height: 40px;
    font:100 16px/40px "microsoft yahei";
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
/*图片区*/
#forImg li{
    height: 30px;
    font:100 16px/30px "microsoft yahei";
    cursor: pointer;
}
#forImg li .circular{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3cd4cf;
    display: inline-block;
    margin-right: 15px;
}
#forImg li .reviewsNum{
    float: right;
}
.reviewsNum .lookNum{
    margin-right: 30px;
}
.reviewsNum i{
    color: #f00;
}

/*遮罩*/
.mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index:1000;
    display: none;
}
/*登录框*/
.model{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index:1000;
    display: none;
}

#registerFinish p{
    margin-bottom: 10px;
}
#registerFinish .finInp{
    width: 192px;
}
.mask h3{
    font:100 22px/22px "microsoft yahei";
    margin-bottom: 20px;

}
.inputBox{
    width: 100%;
    height: 200px;
    padding:10px 0;
}
.inputBox p{
    height: 40px;
    margin-bottom: 25px;
    font:100 16px/30px "microsoft yahei";
    color: #555;

}
.label{
    font-weight: 100;
}
.inputBox input{
    width: 180px;
    margin-left: 10px;
    border:1px solid #eee;
    padding-left: 5px;
    border-radius: 3px;
}
#toLogin,#toType2,#finshed,#find{
    width: 80px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    font:100 16px/26px "microsoft yahei";
    margin-left: 93px;
}
#forget{
    float: right;
    font:100 14px/30px "microsoft yahei";
}
/*注册*/
#verification{
    width: 110px;
}
#getVerification{
    color: #fff;
    border-radius: 5px;
}
/*忘记密码*/
#forgetPassword{
    height: 185px;
    margin-top:-92px;
}