<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysoft.video.user.dao.WithdrawCashDao">
    <parameterMap id="withdrawCashDto" type="com.hysoft.video.user.dto.WithdrawCashDto"/>
    <resultMap id="withdrawCashInfo" type="com.hysoft.video.user.dto.WithdrawCashDto">
        <id column="wc_id" property="wcId"/>
        <result column="user_id" property="userId"/>
        <result column="cash_amount" property="cashAmount" />
        <result column="create_date" property="createDate" />
        <result column="proc_res" property="procRes" />
        <result column="user_name" property="userName" />
        <result column="user_payaccount" property="userPayaccount" />
        <result column="user_wxpayaccount" property="userWxpayaccount"/>
        <result column="user_income" property="userIncome" />
    </resultMap>

    <insert id="insertWithdrawCash" parameterMap="withdrawCashDto">
        insert into em_withdraw_cash_info(user_id,cash_amount)
        VALUES (#{userId},#{cashAmount})
    </insert>
    <update id="updateProcRes" parameterMap="withdrawCashDto">
        update  em_withdraw_cash_info set proc_res = #{procRes}
        where wc_id = #{wcId}
    </update>
    <select id="getWithdrawList" resultMap="withdrawCashInfo">
        select ci.wc_id,ci.user_id,IFNULL(ci.cash_amount,0) cash_amount,ci.create_date,ci.proc_res,
               eui.user_name,
               eui.user_payaccount,
               eui.user_wxpayaccount,
               IFNULL(eui.user_income,0) user_income
        from em_withdraw_cash_info ci,
             em_user_info eui
        where proc_res = 'N'
          and ci.user_id = eui.user_id
    </select>
</mapper>
