<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysoft.video.user.dao.VideoCommDao">
    <parameterMap id="videoCommDto" type="com.hysoft.video.user.dto.VideoCommDto" />
    <resultMap id="videoCommInfo" type="com.hysoft.video.user.dto.VideoCommDto" >
        <result column="ct_id" property="ctId"/>
        <result column="video_id" property="videoId"/>
        <result column="user_id" property="userId"/>
        <result column="create_date" property="createDate" />
        <result column="content" property="content" />
        <result column="user_name" property="userName"/>
    </resultMap>

    <insert id="insertCommon" parameterMap="videoCommDto">
        insert into em_user_comments(video_id,user_id,content)
        values (#{videoId},#{userId},#{content})
    </insert>

    <select id="getVideoCommList" parameterMap="videoCommDto" resultMap="videoCommInfo">
        select euc.ct_id,euc.video_id,euc.user_id,euc.create_date,euc.content,eui.user_name from em_user_comments euc,em_user_info eui
         where video_id = #{videoId}
           and eui.user_id = euc.user_id
    </select>
</mapper>