<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hysoft.video.user.dao.VideoDao">
    <parameterMap id="videoDto" type="com.hysoft.video.user.dto.VideoDto"/>
    <resultMap id="videoInfo" type="com.hysoft.video.user.dto.VideoDto">
       <id column="video_id" property="videoId"/>
       <result column="video_path" property="videoPath" />
        <result column="user_id" property="userId" />
        <result column="video_name" property="videoName"/>
        <result column="video_type" property="videoType" />
        <result column="create_date" property="createDate" />
        <result column="user_name" property="userName" />
        <result column="pic_path" property="picPath" />
        <result column="income" property="income" />
        <result column="see_count" property="seeCount" />
    </resultMap>

    <select id="getVideoList" resultMap="videoInfo" parameterMap="videoDto">
        select evi.video_id,evi.pic_path,
               evi.video_name,evi.video_type,
               evi.create_date,eui.user_name,
               evi.income,evi.see_count,
               evi.user_id
        from em_video_info evi,em_user_info eui
         where evi.user_id = eui.user_id
         and evi.is_applied = 'Y'
         and evi.video_type = #{videoType}
         order by evi.video_id DESC limit #{pageIndex},#{pageSize}
    </select>

    <select id="getVideoCountByType" resultType="java.lang.Integer" parameterMap="videoDto">
        select count(1) from em_video_info evi where evi.is_applied = 'Y' and evi.video_type = #{videoType}
    </select>

    <select id="getApplyVideoList" resultMap="videoInfo" parameterMap="videoDto">
         select evi.video_id,evi.video_path,
               evi.video_name,evi.video_type,
               evi.create_date,eui.user_name,
               evi.income,evi.see_count,
               evi.user_id,
               evi.pic_path
        from em_video_info evi,em_user_info eui
       where evi.user_id = eui.user_id
         and evi.is_applied = 'N'
    </select>

    <select id="getVideoInfo" parameterMap="videoDto" resultMap="videoInfo">
      select evi.video_id,evi.video_path,
               evi.video_name,evi.video_type,
               evi.create_date,eui.user_name,
               evi.income,evi.see_count,
               evi.user_id,
               evi.pic_path
        from em_video_info evi,em_user_info eui
       where evi.user_id = eui.user_id
         and evi.video_id = ${videoId}
    </select>

    <select id="getSearchVideos" parameterMap="videoDto" resultMap="videoInfo">
        select evi.video_id,evi.video_path,
               evi.video_name,evi.video_type,
               evi.create_date,eui.user_name,
               evi.income,evi.see_count,
               evi.user_id,
               evi.pic_path
        from em_video_info evi,em_user_info eui
         where evi.user_id = eui.user_id
         and evi.is_applied = 'Y'
         and evi.video_type in (1,2)
         and evi.video_name LIKE CONCAT('%',#{videoName},'%')
    </select>

    <update id="updateApplyRes" parameterMap="videoDto">
        UPDATE em_video_info set is_applied  = #{isApplied}
        where video_id = #{videoId}
    </update>

    <insert id="insertVideo" parameterMap="videoDto">
        insert into em_video_info(video_path,video_name,video_type,user_id,is_applied,pic_path)
        VALUES (#{videoPath},#{videoName},#{videoType},#{userId},#{isApplied},#{picPath})
    </insert>

    <update id="updateVideoSeeCount" parameterMap="videoDto">
        update em_video_info
           set see_count = see_count + #{seeCount},income = income + #{income}
         where video_id = #{videoId}
    </update>
</mapper>
